SECRET_KEY="django-insecure-p^d0=ji%hjq4a0v4g^v_6(op2-_dk_!(=zg%nxxg8v%6@e-1t6"
DB_NAME=clinic_db
DB_USER=root
DB_PASSWORD=your_password_here
EMAIL_USER=ramadanelgamal21@gmail.com
EMAIL_PASS=sfzv euss jfov neyg